<!doctype html>
<html>
  <head>
    <title>Plastic Action Item</title>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
		<script src="jquery.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(function() {
			$('.checkbox').change(function() {
				var id = $(this).attr('id');
				var complete = $(this).is(':checked');
				$.post('/item_complete', { id: id, complete: complete });
			});
		})
		</script>
  </head>
  <body>
		<form action="/" method="post">
			<h1>Plastic Action Item</h1>
			<hr />
			<h2>Melt these:</h2>
			<% items.each do |item| %>
				<div class="item">
					<input id="<%= item.id %>" class="checkbox" type="checkbox" name="complete" value="1" <%= 'checked' if item.complete %>>
					<strong>AI <%= item.ldap %>:</strong>
					<%= item.action %>
				</div>
			<% end %>
			<hr />
			<h2>Mold new:</h2>
			<!--
			<h3>Purpose <input name="purpose" /></h3>
			<h3>Decision <input name="decision" /></h3>
			-->
			<div>
				<div class="item alpha50">
					<!-- <input class="checkbox" type="checkbox" name="complete" value="1"> -->
					<strong>AI </strong><input class="ldap" name="ignore" value="rgam" disabled /><strong>:</strong>
					<input class="action" name="ignore" value="make this page look nicer" disabled />
				</div>
				<div class="item">
					<!-- <input class="checkbox" type="checkbox" name="complete" value="0"> -->
					<strong>AI </strong><input class="ldap" size="7" name="ldap" /><strong>:</strong> 
					<input class="action" name="action" />
				</div>
			</div>
			<hr />
			<!--
			<div>
				<h3>Notes</h3>
				<textarea name="notes"></textarea>
			</div>
			-->
			<input type="submit" value="Save" />
		</form>
  </body>
</html>
